<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "/endGame.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1><%= @message %></h1>
        <h3>Jugador: <%= @playerName%></h3>
        <p>El valor secreto es: <%= @secret%></p>
        <h3>Tus intentos fueron: <%= @attempts %></h3>
        <h3>Tus resultados fueron:<%= @results %></h3>
        <button class="btn btnSalir">
            <a href="/Homepage" class="">Pagina Principal</a>
        </button> 
        <button class="btn btnSalir">
            <a href="/PlayAgain" class="">Volver a Jugar</a>
        </button> 
    </div>    
</body>
</html>